// **************************
//       KEYFRAMES
// **************************

@keyframes beat {
    to {
        transform: scale(.9);
    }
}

@keyframes main-header-reveal {
    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
        transform: none;

    }
}