// **************************
//        ATTRIBUTION
// **************************

.attribution {
    background-color: lighten($footer, 15%);
    color: lighten($graphic-design-text, 15%);
    font-size: 1.7rem;
    padding: 5rem 0;
    text-align: center;
    width: 100%;

    a {
        color: $graphic-design-text;
        display: inline-block;
        transition: all .5s;

        &:hover {
            color: $white;
        }

        &:active {
            transform: scale(.95);
        }
    }
}