// **************************
//        ATTRIBUTION
// **************************

.attribution {
    background-color: lighten($footer, 15%);
    color: $graphic-design-text;
    font-size: 1.7rem;
    padding: 5rem 0;
    text-align: center;
    width: 100%;

    a {
        color: #eee;
    }
}