// **************************
//         GALLERY
// **************************

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    width: 100%;

    @include for-medium-screens {
        grid-template-columns: repeat(4, 1fr);
    }

    &__image {
        max-width: 102%;
        margin: -2px;

        @media screen and (min-width:740px) and (max-width:767px) {
            width: 39rem;
        }
    }
}