// ************************************************
//       MAIN CONTENT - GRAPHIC DESIGN SECTION
// ************************************************

.graphic-design-section {
    @include flexbox($justify:flex-end);
    background-image: url(../../images/mobile/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    max-height: 60rem;
    width: 100%;

    @media screen and (min-height:900px) {
        min-height: 55vh;
    }

    &__article {
        color: $graphic-design-text;
        font-size: 1.7rem;
        margin-bottom: 5rem;
        text-align: center;
        width: 90%;
        max-width: 30rem;

        &-title {
            margin-bottom: 3rem;

            font: {
                family: $second-font;
                weight: 900;
                size: 3rem;
            }
        }

        &-description {
            line-height: 2.5rem;
        }
    }

}