// **************************
//         MAIN HEADER
// **************************

.main-header {
    @include flexbox($justify:start);
    background-image: url(../../images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    min-height: 90vh;
    width: 100%;

    @include for-medium-screens {
        background-image: url(../../images/desktop/image-header.jpg);
        min-height: 100vh;
    }

    @media screen and (max-height:450px) {
        min-height: 120vh;
    }

    @media screen and (min-height:1000px) {
        min-height: 80vh;
    }

    // --- Container ---
    &__container {
        @include flexbox($justify:start);
        margin-top: 3rem;
        width: 90%;
    }

    // --- Content ---
    &__content {
        color: $white;
        letter-spacing: .6rem;
        width: 100%;

        font: {
            size: 3rem;
            family: $second-font;
        }

        text: {
            transform: uppercase;
            align: center;
        }

        @media screen and(max-width: 355px) {
            font-size: 2.5rem;
        }
    }

    &__title {
        font-weight: 900;
        position: relative;

        &::after {
            content: url(../../images/icon-arrow-down.svg);
            animation: beat 1s 2s alternate infinite;
            position: absolute;
            top: 140%;
            left: 45%;

            @include for-medium-screens {
                top: 250%;
                left: 48%;
            }
        }
    }
}