// *******************************************
//     MAIN CONTENT - STAND OUT SECTION
// *******************************************

.stand-out-section {
    @extend .transform-section;

    // --- Image ---
    &__image {
        @extend .transform-section__image;
    }

    // --- Article ---
    &__article {

        @extend .transform-section__article;


        &-title {
            @extend .transform-section__article-title;
        }

        &-description {
            @extend .transform-section__article-description;
        }

        &-cta {
            @extend .transform-section__article-cta;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: -5%;
                height: 8px;
                width: 110%;
                background-color: rgba($text-decoration-soft-red, .3);
            }

        }
    }
}