// *******************************************
//     MAIN CONTENT - STAND OUT SECTION
// *******************************************

.stand-out-section {
    @extend .transform-section;

    // &__picture {
    //     @extend .transform-section__picture;
    //     order: 0;
    // }

    // --- Image ---
    &__image {
        @extend .transform-section__image;
        background-image: url(../../images/mobile/image-stand-out.jpg);

        @include for-medium-screens {
            background-image: url(../../images/desktop/image-stand-out.jpg);
            order: 0;
        }

    }

    // --- Article ---
    &__article {

        @extend .transform-section__article;


        &-title {
            @extend .transform-section__article-title;
        }

        &-description {
            @extend .transform-section__article-description;
        }

        &-cta {
            @extend .transform-section__article-cta;

            &::after {
                content: "";
                position: absolute;
                bottom: -15%;
                left: -5%;
                height: 8px;
                width: 110%;
                background-color: rgba($text-decoration-soft-red, .2);
                border-radius: 2rem;
                transition: all .5s;
                z-index: 5;
            }

            &:hover {
                transform: translateY(-5px);

                &::after {
                    background-color: rgba($text-decoration-soft-red, .5);
                }
            }

            &:active {
                transform: scale(.95);

                &::after {
                    background-color: rgba($text-decoration-soft-red, .9);
                }
            }

        }
    }
}