// *******************************************
//     MAIN CONTENT - TESTIMONIALS
// *******************************************

.testimonials {
    @include flexbox($flow:row wrap);
    text-align: center;
    width: 100%;

    // --- Container ----
    &__container {
        @include flexbox($align:baseline);

        @include for-medium-screens {
            flex-flow: row nowrap;
            margin-bottom: 10rem;
            width: 90%;
            max-width: 110rem;
        }
    }

    // --- Title ----
    &__title {
        color: $grayish-blue;
        font: 900 1.6rem $second-font;
        letter-spacing: 5px;
        margin: 5rem auto;
        text-transform: uppercase;
        width: 100%;

        @include for-medium-screens {
            margin-top: 10rem;
        }

        @include for-large-screens {
            font-size: 2rem;
            margin: 15rem auto 8rem;
        }
    }
}