// *******************************************
//     MAIN CONTENT - TRANSFORM SECTION
// *******************************************

.transform-section {
    @include flexbox($flow:row wrap, $justify:space-between);
    width: 100%;
    // display: none;

    @include for-medium-screens {
        flex-wrap: nowrap;
    }

    &__picture {
        @include for-medium-screens {
            width: 50%;
            order: 2;
        }
    }

    // --- Image ---
    &__image {
        object-fit: cover;
        object-position: center;
        min-height: 40vh;
        max-height: 45rem;
        width: 100%;

        @media screen and (min-width:750px) and (max-width:768px) {
            width: 110%;
        }

        @include for-medium-screens {
            width: 100%;
            height: max-content;
        }

        @include for-large-screens {
            min-height: auto;
            max-height: none;
        }
    }


    // --- Article ---
    &__article {
        @include h-center;
        color: $very-dark-desaturated-blue;
        font-size: 1.7rem;
        padding: 5rem 0;
        text-align: center;
        width: 90%;
        max-width: 30rem;

        @include for-medium-screens {
            width: 50%;
        }

        @include for-large-screens {
            text-align: left;
            max-width: 43rem;
        }

        &-title {
            font: {
                size: 3rem;
                family: $second-font;
                weight: 900;
            }

            @include for-large-screens {
                font-size: 3.5rem;
                width: 90%;
            }

        }

        &-description {
            color: $dark-grayish-blue;
            line-height: 3rem;
            margin: 3rem auto;
        }

        &-cta {
            color: $very-dark-desaturated-blue;
            position: relative;

            font: {
                family: $second-font;
                weight: 900;
            }

            text: {
                decoration: none;
                transform: uppercase;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: -5%;
                height: 8px;
                width: 110%;
                background-color: rgba($text-decoration-yellow, .3);
            }

        }


    }
}