// *******************************************
//     MAIN CONTENT - TRANSFORM SECTION
// *******************************************

.transform-section {
    @include flexbox($flow:row wrap, $justify:space-between);
    width: 100%;

    @include for-medium-screens {
        flex-wrap: nowrap;
    }

    // --- Image ---
    &__image {
        background-image: url(../../images/mobile/image-transform.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 60vh;
        max-height: 50rem;
        width: 100%;

        @include for-medium-screens {
            background-image: url(../../images/desktop/image-transform.jpg);
            height: 70vh;
            width: 50%;
            order: 2;
        }
    }

    // --- Article ---
    &__article {
        @include h-center;
        color: $very-dark-desaturated-blue;
        font-size: 1.7rem;
        padding: 5rem 0;
        text-align: center;
        width: 90%;
        max-width: 30rem;

        @include for-medium-screens {
            padding: 0;
            width: 50%;
        }

        @include for-large-screens {
            text-align: left;
            max-width: 43rem;
        }

        &-title {
            font: {
                size: 3rem;
                family: $second-font;
                weight: 900;
            }

            @include for-large-screens {
                font-size: 3.5rem;
                width: 90%;
            }

        }

        &-description {
            color: $dark-grayish-blue;
            line-height: 3rem;
            margin: 3rem auto;
        }

        &-cta {
            color: $very-dark-desaturated-blue;
            display: inline-block;
            position: relative;
            z-index: 10;
            transition: all .5s;

            font: {
                family: $second-font;
                weight: 900;
            }

            text: {
                decoration: none;
                transform: uppercase;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -15%;
                left: -5%;
                height: 8px;
                width: 110%;
                background-color: rgba($text-decoration-yellow, .2);
                border-radius: 2rem;
                transition: all .5s;
                z-index: 5;
            }

            &:hover {
                transform: translateY(-5px);

                &::after {
                    background-color: rgba($text-decoration-yellow, .5);
                }
            }

            &:active {
                transform: scale(.95);

                &::after {
                    background-color: rgba($text-decoration-yellow, .9);
                }
            }

        }


    }
}