// *********************************
//         MAIN HEADER - NAVBAR
// *********************************

.main-header {
    &__navbar {
        @include flexbox($flow:row nowrap, $justify:space-between);
        margin-bottom: 15vh;
        position: relative;
        width: 100%;

        @include for-medium-screens {
            animation: main-header-reveal 1s 1.3s ease forwards;
            opacity: 0;
            transform: translateY(-400%);
            transition: transform .5s;
        }
    }

    &__logo {
        width: 15rem;
    }

    &__hamburger-btn {
        cursor: pointer;
        transition: transform .5s ease;
        width: 3.5rem;

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(.90);
        }

        @include for-medium-screens {
            display: none;
        }
    }

    &__nav {
        background-color: $white;
        list-style-type: none;
        position: absolute;
        right: 0;
        top: 350%;
        text-align: center;
        width: 100%;
        max-width: 50rem;
        z-index: 10;
        transition: all .5s ease;
        transform: translateX(150%);

        &.active {
            transform: translateX(0);
        }

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: -10%;
            background-color: $white;
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
            width: 5rem;
            height: 5rem;

            @include for-medium-screens {
                display: none;
            }
        }

        @include for-medium-screens {
            @include flexbox($flow:row nowrap);
            background: transparent;
            max-width: 50rem;
            transform: none;
            position: static;
        }
    }

    &__nav-item {
        font-size: 2rem
    }

    &__nav-link {
        color: $very-dark-grayish-blue;
        display: inline-block;
        margin: 4rem auto;
        text-decoration: none;

        @include for-medium-screens {
            color: $white;
            font-size: 1.6rem;
            margin: 0 1.5rem;
            transition: all .5s;

            &:hover {
                transform: translateY(-5px);
            }

            &:active {
                color: $text-decoration-yellow;
                transform: scale(.95);
            }
        }

        &-cta {
            background-color: $text-decoration-yellow;
            border-radius: 3rem;
            color: $very-dark-desaturated-blue;
            font-family: $second-font;
            padding: 2rem 4rem;
            text-transform: uppercase;
            transition: all .5s;
            width: fit-content;

            &:hover {
                background-color: #6FCFFF;
                color: $white;
            }

            &:active {
                background-color: $text-decoration-yellow;
                transform: scale(.95);
            }

            @include for-medium-screens {
                background-color: $white;
                color: #000;
                margin: 0;
                padding: 1.5rem 3rem;
            }
        }


    }
}