// ********************************************
//        MAIN FOOTER - SOCIAL MEDIA ICONS
// ********************************************

.social-media-icons {
    @include flexbox($flow:row nowrap, $justify:space-evenly);
    width: 20rem;

    .fab {
        color: $graphic-design-text;
        cursor: pointer;
        font-size: 2.4rem;
        transition: all .5s;

        &:hover {
            color: $white;
            transform: scale(1.1);
        }

        &:active {
            transform: scale(.95);
        }
    }
}