// *******************************************
//               TESTIMONIAL
// *******************************************

.testimonial {
    @include flexbox($justify:space-between);
    height: 30rem;
    font-size: 1.6rem;
    margin: 1rem auto 8rem;
    max-width: 28rem;

    @include for-large-screens {
        height: 35rem;
        max-width: 30rem;
    }

    // --- Photo ----
    &__photo {
        border-radius: 50%;
        width: 6rem;

        @include for-large-screens {
            width: 8rem;
        }
    }

    // --- Description ----
    &__description {
        color: $very-dark-grayish-blue;
        line-height: 2.5rem;
        margin: 2rem auto;
    }

    // --- User info ----
    &__user-info {
        font-size: 1.8rem;
        margin: 3rem auto 1rem;
    }

    &__name {
        color: $very-dark-desaturated-blue;
        margin-bottom: 1rem;

        font: {
            weight: 900;
            family: $second-font;
        }
    }

    &__role {
        color: $grayish-blue;

        @include for-large-screens {
            font-size: 1.6rem;
        }
    }
}