// **************************
//           BASE
// **************************

.main-container {
    @include flexbox;
    width: 100%;
    overflow-x: hidden;
    background-color: $white;
}

.sr-only {
    position: absolute;
    left: 1000000px;
    top: 10000000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}