// **************************
//           BASE
// **************************

.main-container {
    @include bdr;
    @include flexbox;
    width: 100%;
    overflow-x: hidden;
    background-color: $white;
}